@media screen and (max-width: 767.25px) {
  .disparaitreplus {
    display: none;
  }
}

@media screen and (min-width: 767.25px) {
  .hide-big {
    display: none;
  }
  .margin-big {
    margin-left: 215px;
  }
}
